form {
    background: rgb(245, 204, 211);
    height: 340px;
    width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

input[type="checkbox"] {

}

label[for="popup"] {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

inpu[name="popup"] {
    display: none;
}

input[type="checkbox"]:checked + label {
    color: red;
}

input[name="popup"] + div {
    display: none;
}

input[name="popup"]:checked + div{
    display: block;
}

.input_form {
    height: 30px;
    width: 150px;
    margin-left: 24px;
    margin-top: 5px;
}

.input_checkbox {
    margin-left: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input_select {
    margin-top: 50px;
    margin-left: 24px;
}

select {
    margin-left: 24px;
    margin-bottom: 20px;
}

.radio_lab {
    margin-left: 24px;
}

.input_radio {
    margin-left: 24px;
}

button {
    background: #c2eaf7;
    height: 30px;
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 10px;
}